{% extends 'base.html' %}
{% block content %}
    <center>
        <h1>{{ object.product_name }}</h1>
        <p>材質與顏色 | {{ object.material_color }}</p>
        <p>敘述 | {{ object.description }}</p>
        <p>價格 | {{ object.price }}</p>
        <p>圖片 | {{ object.picture.url }}</p>

        {% if object.picture != Null %}
{#            圖片 | <img src="{{ object.picture}}"><br/>#}
{#            圖片 | <img src="{{ object.picture.url }}"><br/>#}
{#            圖片 | <img src="/src/{{ object.picture}}"><br/>#}
{#            圖片 | <img src="/src{{ object.picture.url}}"><br/>#}
{#            圖片 | <img src="/media/{{ object.picture}}"><br/>#}
            圖片 | <img src="/media/{{ object.picture}}"><br/>
{#            圖片 | <img src="media/image/7g.JPG"><br/>#}
        {% else %}
            <p>圖片 | （無）</p><br/>
        {% endif %}

        {% if request.user.identity == 1 %}
            <button type="submit"> <a href='../'> 回到清單 </a></button>
            <button type="submit"> <a href='../../3dtest/'> 模擬配戴 </a></button>
            <button type="submit"> <a href='update/'> 更新 </a></button>
            <button type="submit"> <a href='delete/'> 刪除 </a></button>
        {% elif request.user.identity == 0 %}
            <button type="submit"> <a href='../../3dtest/'> 模擬配戴 </a></button>
            <form action='.' method='POST'>{% csrf_token %}
{#                {{ form }} 動手叫#}
                <input type='submit' class="input_button" value='加入蒐藏'/>
            </form>

        {% endif %}
    </center>
{% endblock %}